.pt0{ background:url("pt0.png") top left no-repeat; }
.头像_r2_c2{ width:120px; height:130px; background-position:-10px -10px; }
.头像_r3_c4{ width:63px; height:64px; background-position:-10px -150px; }

